# Ignore SDK DLLs
PixLiveSDK_Xamarin/VdarSdkAndroid.dll
PixLiveSDK_Xamarin/VdarSdkIos.dll
PixLiveSDK_Xamarin/AndroidDependencyPdfium.dll
PixLiveSDK_Xamarin/AndroidDependencyPdfViewer.dll

*.DS_Store

# Ignore Xamarin build files and user-specific files
*.userprefs
[Oo]bj/
[Bb]in/
**/packages/*